<h3>Registered Users:</h3>
<table>
  <tr>
    <th>email</th>
    <th>activated</th>
    <th>birthday</th>
    <th>address</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%=h user.email %></th>
    <td><%=user.activated %></th>
    <td><%=user.birthdate.to_s(:mdy) %></th>
    <td><%=h user.address %></th>
  </tr>
  <% end %>
</table>