<h3>Registered Users:</h3>
<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Birthday</th>
    <th>Address</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%=h user.email %></th>
    <td><%=h user.full_name %></th>
    <td><%=user.birthdate.to_s(:mdy) if user.birthdate %></th>
    <td><%=h user.address.to_s %></th>
  </tr>
  <% end %>
</table>